<table>
    <%= form_for @subject do |f| %>
        <tr>
            <td>科目名</td>
            <td><%= f.text_field :name %></td>
        </tr>
        <tr>
            <td>ID</td>
            <td><%= f.text_field :identifier %></td>
        </tr>
        <tr>
            <td colspan="2"><%= f.submit "追加" %></td>
        </tr>
    <% end %>
</table>

<ul>
    <% @subjects.each do |s| %>
        <li><%= s.name %></li>
    <% end %>
</ul>