<%= link_to "戻る", support_path %>
<% if @chats.first.customer_id == 0 then %>
<h1>業務連絡</h1>
<% else %>
<h1>顧客No.<%= @chats.first.customer_id %></h1>
<% end %>
<% @chats.each do |c| %>
    <div class="autho-chat">
    <% if c.isFromCustomer then %>
        <p class="autho-chat-from-customer">
    <% else %>
        <p class="autho-chat-from-staff">
    <% end %>
        <%= c.text %>
    </p>
    <p>
        <%= c.created_at %>
    </p>
    <a href="<%= c.url %>" ></a>
    </div>
<% end %>

<%= form_tag support_chat_write_path(:id => params['id']) do %>
    <%= text_area_tag("text") %>
    <%= submit_tag(">>") %>
<% end %>