<h1>「<%= @title %>」の編集</h1>

<hr>
<%= form_tag edits_search_path( :before_id => params["before_id"] ) do %>
    <%= text_field_tag("id")%>
    <%= submit_tag("検索") %>
<% end %>
<hr>
<% if @before_id == "0" then %>
    <%= link_to "戻る",edits_path %>
<% elsif @before_id == "1" then %>
    <%= link_to "戻る",edits_path %>
<% else %>
    <%= link_to "戻る", edits_show_path( :id => @bbefore_id, :title => @before_title ) %>
<% end %>

<table>
    <tr>
        <th>　選択肢名　</th>
        <th colspan="3">　優先度　</th>
        <th colspan="3">　グループ　</th>
        <th></th>
    </tr>
    <% @tables.each do |t| %>
    <tr>
        <td>
            <%= link_to t["table_name"] , edits_show_path( :id => t["after_id"], :title => t["next_title_name"]) %>
        </td>
        
        <% if t["strength"] == -1 then %>
            <td>
                /
            </td>
            <td>
                x
            </td>
            <td>
                <%= link_to "+" , edits_plus_path( :id => t["id"], :title => @title, :before_id => params["id"], :strength => t["strength"]+1, :group => t["group"] ) %>
            </td>
        <% end %>
        
        <% if t['strength'] == 0 then %>
            <td>
                <%= t['strength'] %>
            </td>
            <td>
                <%= link_to "/" , edits_plus_path( :id => t["id"], :title => @title, :before_id => params["id"], :strength => t["strength"]-1, :group => t["group"] ) %>
            </td>
            <td>
                <%= link_to "+" , edits_plus_path( :id => t["id"], :title => @title, :before_id => params["id"], :strength => t["strength"]+1, :group => t["group"] ) %>
            </td>
        <% end %>
        
        <% if t['strength'] > 0 then %>
            <td>
                <%= t['strength'] %>
            </td>
            <td>
                <%= link_to "-" , edits_plus_path( :id => t['id'], :title => @title, :before_id => params["id"], :strength => t['strength']-1, :group => t['group'] ) %>
            </td>
            <td>
                <%= link_to "+" , edits_plus_path( :id => t['id'], :title => @title, :before_id => params["id"], :strength => t['strength']+1, :group => t['group'] ) %>
            </td>
        <% end %>

        <td>
            <%= t['group'] %>
        </td>
        <td>
            <% if t['group'] == 0 then%>
                x
            <% else %>
                <%= link_to "-" , edits_plus_path( :id => t['id'], :title => @title, :before_id => params["id"], :strength => t['strength'], :group => t['group']-1 ) %>
            <% end %>
        </td>
        <td>
            <%= link_to "+" , edits_plus_path( :id => t['id'], :title => @title, :before_id => params["id"], :strength => t['strength'], :group => t['group']+1 ) %>
        </td>
        <td>
            <%= link_to "編集" , edits_edit_path( :id => t['id'], :title => @title, :before_id => params["id"] )  %>
        </td>
    </tr>
    <% end %>
</table>
<td><%= link_to "+", edits_add_path( :before_id => params["id"], :ids => @ids, :title => @title ) %></td>